<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sessiontest</title>
</head>
<body>
    [sessionid]---> <span th:text="${session.value1}"></span> <br/>
    [sec:name ] ----> <span class="text-white" sec:authentication="name">사용자</span> <br/>
	[sec:name ] ----> <span class="text-white mx-2" sec:authentication="principal.authorities">권한</span> <br/>
	
</body>
</html>