<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="ko">
<head th:replace="fragments/comm_top :: head('게시판')">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">index.html</title>
</head>
<body>
    <div th:replace="fragments/comm_top :: menu('list')"></div>

    
    <h1>form.html</h1>
    <form th:action="@{/board/form}" th:object="${taxnet_logs}" method="POST" >
        <input type="hidden" th:field="*{id}">
        
      userid : <input type="text" name="userid" id="userid" th:field="*{userid}" th:classappend="${#fields.hasErrors('userid')} ? 'valid' "> 

      <div th:if="${#fields.hasErrors('userid')}" th:errors="*{userid}">
        error msg.
      </div>

      <br/>
      ip : <input type="text" name="ip" id="ip" th:field="*{ip}" > <br/>
      c_url : <input type="text" name="c_url" id="c_url" th:field="*{c_url}"> <br/>
      menu : <input type="text" name="menu" id="menu" th:field="*{menu}" > <br/>
      search  : <input type="text" name="search" id="search" th:field="*{search}" > <br/>
      <button type="submit">확인</button>
      <a th:href="@{/board/list}">취소</a>
    </form>         
    </div>

    
</body>
</html>
<footer th:replace="fragments/bottom_script :: footer('게시판')"> </footer>
