<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="ko">

<head th:replace="fragments/common_inc_top :: head('로그관리')">
</head>

<body>


  <header th:replace="fragments/common_inc_top :: menu('로그')"></header>

  <aside id="sidebar" class="nav-collapse" th:replace="fragments/common_inc_top :: sidebar('로그')"></aside>



  <article id="container">
    <section id="body-content">
      <form method="GET" th:action="@{/board/list }">
        <div class="content-panel no-padding Board-Search">
          <table class="table">
            <caption></caption>
            <colgroup>
              <col style="width: 150px" />
              <col style="width: *" />
            </colgroup>
            <tr>
              <th><i class="fa fa-check-square"></i>조건 검색</th>
              <td>
                <select class="form-control" style="width: 110px;">
                  <option value="">제목</option>
                  <option value="">내용</option>
                </select>
                <input type="text" name="searchText" class="form-control word" th:placeholder="${session.greeting}"
                  th:value="${param.searchText}" />
              </td>
            </tr>
          </table>
          <div class="sch-btn">
            <button type="submit" class="btn btn-black"><i class="fa fa-search"></i>조회</button>
            <button type="reset" id="btnReset" class="btn btn-default"><i class="fa fa-undo"></i>초기화</button>
          </div>
        </div>
      </form>


      <div class="content-panel no-padding">
        전체 건수
        <!-- 총: <span th:text="${cnt}" class="boardCnt"></span> 건 -->
        <span class="count">총&nbsp;<strong class="clr-red2"
            th:text="${list.TotalElements}">15</strong>&nbsp;건&nbsp;</span>


        <table class="table List table-bordered table-striped table-hover">
          <th>id</th>
          <th>userid</th>
          <th>ip</th>
          <th>c_url</th>
          <th>menu</th>
          <th>logtime</th>
          <th>search</th>

          <tr th:each="log : ${list}">

            <td th:text="${log.id}"> id</td>
            <td><a th:text="${log.userid}" th:href="@{/board/write(id=${log.id})}">userid</a></td>
            <td th:text="${log.ip}">ip</td>
            <td th:text="${log.c_url}">c_url</td>
            <td th:text="${log.menu}">menu</td>
            <td th:text="${log.logtime}">logtime</td>
            <td th:text="${log.search}">search</td>

          </tr>
        </table>
      </div>

      <div class="Board-pagination">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" th:classappend="${i == list.pageable.pageNumber+1} ? 'disabled'"
              th:href="@{/board/list(page=${list.pageable.pageNumber -1 }, searchText=${param.searchText})}"
              tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item" th:classappend="${i == list.pageable.pageNumber+1} ? 'disabled'"
            th:each="i : ${#numbers.sequence(startPage, endPage)}"><a class="page-link"
              th:href="@{/board/list(page=${i-1}, searchText=${param.searchText})}" th:text="${i}">1</a></li>
          <li class="page-item">
            <a class="page-link" th:classappend="${list.totalPages == list.pageable.pageNumber+1} ? 'disabled'"
              th:href="@{/board/list(page=${list.pageable.pageNumber +1 }, searchText=${param.searchText})}">Next</a>
          </li>
        </ul>
        <div class="Right">
          <a type="button" class="btn btn-success" th:href="@{/board/write}">쓰기</a>
        </div>
    </section>

  </article>
</body>

</html>
<footer th:replace="fragments/bottom_script :: footer('로그')"> </footer>
