<!DOCTYPE html>
<html lang="ko">
<head th:replace="fragments/common_inc_top :: head('로그')" >
	<meta charset="utf-8" />
	<title>택스넷 CUG</title>
	<meta http-equiv="X-UA-Compatible" content="IE=11,IE=Edge" />
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->

	<!-- META, DESCRIPTION, KEYWORDS, AUTHOR, COPYRIGHT -->
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="copyright" content="copyrights (c) by (주)조세통람" />
	<link rel="canonical" href="" />

	<!-- Favicons -->
	<link rel="icon" href="/CUG/assets/favicon/favicon.ico" />
	<link rel="apple-touch-icon" href="/CUG/assets/favicon/favicon.png" />

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="/CUG/assets/lib/bootstrap/css/bootstrap.css" />
	<!-- external CSS -->
	<!-- <link rel="stylesheet" href="/CUG/assets/lib/font-awesome/css/font-awesome.css" /> -->
	<script src="https://kit.fontawesome.com/5d9646259a.js" crossorigin="anonymous"></script>
	
	<!-- Font CSS Set -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,500&display=swap" />	

	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/CUG/assets/css/html5-Reset.css" />
	<link rel="stylesheet" href="/CUG/assets/css/CUG.css" />
	<link rel="stylesheet" href="/CUG/assets/css/Board.css" />
	<!-- <link rel="stylesheet" href="/CUG/assets/css/style.css" /> -->
	
	<!-- Jquery -->
	<script src="/CUG/assets/js/jquery-3.4.1.min.js"></script>

	<!--[if lte IE 8]>
		<script src="/CUG/assets/js/html5shiv.js"></script>
		<script src="/CUG/assets/js/css3-mediaqueries.js"></script>
	<![endif]-->
</head>

<body>

<div class="grobal-body-wrap">
<!-- *******************************************************************************************************************************
* TOP BAR CONTENT & NOTIFICATIONS
************************************************************************************************************************************ -->
<header class="header">
	<div class="sidebar-toggle-box">
		<div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
	</div>
	<nav class="click-active">
		<ul>
			<!-- 메뉴 클릭 후 class="active" 추가 처리 -->
			<li><a href="###" class="clr-red3">회원 관리</a></li>
			<li><a href="/CUG/pages/ContentsMgt/PeriodicPublication/hardTax_List.shtml">콘텐츠 관리</a></li>
			<li><a href="/CUG/pages/TaxlawRevision/LegislationNotice/Notifi_List.shtml">개정세법 관리</a></li>
			<li><a href="/CUG/pages/FormatMgt/TaxFormat/revision_List.shtml">서식 관리</a></li>
			<li><a href="/CUG/pages/CounselMgt/Profile/profile_List.shtml">상담 관리</a></li>
			<li><a href="/CUG/pages/BoardMgt/Notice/notice_List.shtml">게시판 관리</a></li>
			<li><a href="/CUG/pages/ErrorMgt/error_List.shtml">오류관리</a></li>
		</ul>
	</nav>
	<a href="/CUG/main.shtml" class="logo">TAXNET&nbsp;<span>CUG</span></a>
	<div class="top-right-Btn">
		<a href="/CUG/login.shtml" class="btn btn-danger">Logout</a>
		<!-- <a href="/CUG/_template/index.html" target="_blank" class="btn btn-warning">T</a> -->
	</div>	
	<div class="clearfix"></div>
</header>

<!-- *******************************************************************************************************************************
* LEFT SIDEBAR MENU
************************************************************************************************************************************ -->
<aside id="sidebar" class="nav-collapse">
	<!-- sidebar menu start -->
	<ul class="sidebar-menu" id="nav-accordion">
		<!--#include file="/CUG/assets/include/inc_sidebar_menu_login.shtml"-->
		<li class="first">
			<a href="/CUG/pages/BoardMgt/Notice/notice_List.shtml" class="active">
				<i class="fa fa-fw fa-bullhorn"></i>
				<span>공지사항</span>
			</a>
		</li>
		<li>
			<a href="/CUG/pages/BoardMgt/ReferenceRoom/data_List.shtml">
				<i class="fas fa-fw fa-folder-plus"></i>
				<span>자료실</span>
			</a>
		</li>
		<li>
			<a href="/CUG/pages/BoardMgt/InausDb/db_List.shtml">
				<i class="fa fa-fw fa-download"></i>
				<span>이나우스 DB 다운로드</span>
			</a>
		</li>		
		<li>
			<a href="/CUG/pages/BoardMgt/Faq/faq_List.shtml">
				<i class="fa fa-fw fa-comment"></i>
				<span>FAQ</span>
			</a>
		</li>
		<li>
			<a href="/CUG/pages/BoardMgt/QnA/qna_List.shtml">
				<i class="fa fa-fw fa-comments-o"></i>
				<span>Q&A</span>
			</a>
		</li>
		<li>
			<a href="/CUG/pages/BoardMgt/VOC/voc_List.shtml">
				<i class="fa fa-fw fa-volume-up"></i>
				<span>고객의 소리</span>
			</a>
		</li>
		<li>
			<a href="/CUG/pages/BoardMgt/NewsApp/newsApp_List.shtml">
				<i class="fa fa-fw fa-envelope"></i>
				<span>뉴스레터 APP 관리</span>
			</a>
		</li>
		<li class="sub-menu">
			<a>
				<i class="fas fa-fw fa-chart-area"></i>
				<span>Rank This Week</span>
			</a>
			<ul class="sub">
				<li><a href="/CUG/pages/BoardMgt/RTW/weekly_rank.shtml">Rank This Week</a></li>
				<li><a href="/CUG/pages/BoardMgt/RTW/weekly_topic.shtml">Weekly 1위 자료</a></li>
            </ul>
		</li>
		<!-- <li class="sub-menu" title="신규 기획안 대기">
			<a class="clr-red3">
				<i class="fa fa-fw fa-user"></i>
				<span>세무공무원 관리</span>
			</a>
			<ul class="sub">
				<li><a href="###">세무관서 관리</a></li>
				<li><a href="###">프로필 관리</a></li>
            </ul>
		</li> -->
		<li>
			<a href="/CUG/pages/BoardMgt/Panel/panel_List.shtml">
				<i class="fa fa-fw fa-pencil"></i>
				<span>기고자 관리</span>
			</a>
		</li>
		<li>
			<a href="/CUG/pages/BoardMgt/Event/event_List.shtml">
				<i class="fa fa-fw fa-gift"></i>
				<span>이벤트 관리</span>
			</a>
		</li>
		<li>
			<a href="/CUG/pages/BoardMgt/News/news_List.shtml">
				<i class="fa fa-fw fas fa-newspaper"></i>
				<span>뉴스 관리</span>
			</a>
		</li>
	</ul>
	<!--// sidebar menu End -->
	<br /><br />
</aside>

<!-- *******************************************************************************************************************************
* BODY CONTENT
************************************************************************************************************************************ -->
<article id="container">
    <section id="body-content">
	<!-- Body content start -->
		<div class="body-Title"><i class="fa"></i>공지사항</div>
		<div class="body-tabs click-active2">
			<ul class="nav nav-tabs"><!-- nav-pills -->
				<li role="presentation" class="active"><a>전체</a></li>
				<li role="presentation"><a>콘텐츠 안내</a></li>
				<li role="presentation"><a>서비스 안내</a></li>
				<li role="presentation"><a>사이트 이용</a></li>
				<li role="presentation"><a>교육</a></li>
				<li role="presentation"><a>출판</a></li>
			</ul>
		</div>
		<form>
		<div class="content-panel no-padding Board-Search">		
			<table class="table">
			<caption></caption>
				<colgroup>
					<col style="width: 150px" />
					<col style="width: *" />
				</colgroup>
				<tr>
					<th><i class="fa fa-check-square"></i>조건 검색</th>
					<td>
						<select class="form-control" style="width: 110px;">
							<option value="">제목</option>
							<option value="">내용</option>
						</select>
						<input type="text" id="" class="form-control word" placeholder="검색어를 입력하세요!" />
					</td>
				</tr>
			</table>
			<div class="sch-btn">
				<button type="submit" class="btn btn-black"><i class="fa fa-search"></i>조회</button>
				<button type="submit" id="btnReset" class="btn btn-default"><i class="fa fa-undo"></i>초기화</button>
			</div>
		</div>
		</form>

		<div class="Board-Count">
			<span class="count">총&nbsp;<strong class="clr-red2">15</strong>&nbsp;건&nbsp;(<strong class="clr-grren">1</strong>/412)</span>
			<div class="align">
				<select id="" class="form-control">
					<option value="15" selected>페이지당 15개 출력</option>
					<option value="20">페이지당 20개 출력</option>
					<option value="30">페이지당 30개 출력</option>
					<option value="50">페이지당 50개 출력</option>
					<option value="100">페이지당 100개 출력</option>
				</select>
			</div>
		</div>
		<div class="content-panel no-padding">
			<table class="table List table-bordered table-striped table-hover">
			<caption></caption>
				<colgroup>
					<col style="width: 5%" />
					<col style="width: 10%" />
					<col style="width: 62%" />
					<col style="width: 10%" />
					<col style="width: 8%" />
					<col style="width: 5%" />
				</colgroup>
				<thead>
				<tr>
					<th>번호</th>
					<th>구분</th>
					<th>제목</th>
					<th>작성자</th>
					<th>등록일</th>
					<th>조회</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td class="num">15</td>
					<td class="gubun">콘텐츠안내</td>
					<td class="subj Left"><a href="notice_Detail.shtml">법인결산 일사천리2020(12월말 결산법인용) 관련 안내</a></td>
					<td class="writer">택스넷</td>
					<td class="date">2020-02-27</td>
					<td class="count">123</td>
				</tr>
				<tr>
					<td class="num">14</td>
					<td class="gubun">서비스안내</td>
					<td class="subj Left"><a>모바일 택스넷 '실무강의' 서비스 개선 안내</a></td>
					<td class="writer">택스넷</td>
					<td class="date">2020-02-24</td>
					<td class="count">123</td>
				</tr>
				<!-- 내역이 없을 경우 -->
				<tr class="None">
					<td colspan="6" class="list-data-None">
						<span class="default"></span>
						공지사항 내역이 없습니다.
					</td>
				</tr>
				<!-- 검색결과 없을 경우 -->
				<tr class="None">
					<td colspan="6" class="list-search-None">
						<span class="text">
							<span class="img"></span>
							<span class="txt">
								검색조건과 일치하는 자료가 없습니다.<br />
								<strong class="clr-red3">검색어(제목, 내용)</strong> 등을 다시 확인 후 검색하시기 바랍니다. 
							</span>
						</span>
					</td>
				</tr>
				</tbody>
			</table>			
		</div>
		<div class="Board-pagination">
			<div class="Right">
				<a href="notice_Insert.shtml" class="btn btn-success">등록하기</a>
			</div>
			<!-- pagination-lg -->
			<ul class="pagination">
				<!-- disabled가 있으면 마우스 커서가 금지표시로 바뀐다. -->
				<li class="Btn disabled">
					<a aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span></a>
				</li>
				<li class="Btn disabled">
					<a aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a>
				</li>
				<!-- 현재 페이지 -->
				<li class="active"><a>1</a></li>
				<li><a>2</a></li>
				<li><a>3</a></li>
				<li><a>4</a></li>
				<li><a>5</a></li>
				<li><a>6</a></li>
				<li><a>7</a></li>
				<li><a>8</a></li>
				<li><a>9</a></li>
				<li><a>10</a></li>
				<li class="Btn">
					<a aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-right"></i></span></a>
				</li>
				<li class="Btn">
					<a aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span></a>
				</li>
			</ul>
		</div>
	<!--// Body content End -->
    </section>	
</article>

<!-- *************************************************************************************************************************************
* FOOTER
************************************************************************************************************************************* -->
<!-- footer start -->
<footer class="site-footer">
	<div class="text-center">
		<p>
			COPYRIGHTS ⓒ JOSE-TONGRAM. CORP. All rights reserved.
		</p>
		<div class="credits">
			Created with Closed User Group  by <a href="//www.taxnet.co.kr/" target="_blank" title="새창으로 이동">www.taxnet.co.kr</a>
		</div>
		<a class="go-top" title="맨위로 이동">
			<i class="fa fa-angle-up"></i>
		</a>
	</div>
</footer>
<!--// footer End -->
</div>

<!-- js placed at the end of the document so the pages load faster -->
<script src="/CUG/assets/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/CUG/assets/lib/jquery.dcjqaccordion.2.7.js" class="include"></script>
<script src="/CUG/assets/lib/jquery.scrollTo.min.js"></script>
<script src="/CUG/assets/lib/jquery.nicescroll.js"></script>

<!-- CustomScrollbar -->
<link rel="stylesheet" href="/CUG/assets/lib/customScrollbar/jquery.mCustomScrollbar.css" />
<script src="/CUG/assets/lib/customScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- common script for all pages -->
<script src="/CUG/assets/js/CUG-scripts.js"></script>

<!-- script for this page --> 

</body>

</html>