<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="ko">

<head th:replace="fragments/common_inc_top :: head('상담')">
</head>

<body>


  <header th:replace="fragments/common_inc_top :: menu('상담')"></header>

  <aside id="sidebar" class="nav-collapse" th:replace="fragments/common_inc_top :: sidebar('상담')"></aside>



  <article id="container">
    <section id="body-content">
      <form method="GET" th:action="@{/consult/list }">
        <div class="content-panel no-padding Board-Search">
          <table class="table">
            <caption></caption>
            <colgroup>
              <col style="width: 150px" />
              <col style="width: *" />
            </colgroup>
            <tr>
              <th><i class="fa fa-check-square"></i>조건 검색</th>
              <td>
                <select class="form-control" style="width: 110px;">
                  <option value="">제목</option>
                  <option value="">내용</option>
                </select>
                <input type="text" name="searchText" class="form-control word" th:placeholder="${session.greeting}"
                  th:value="${param.searchText}" />
              </td>
            </tr>
          </table>
          <div class="sch-btn">
            <button type="submit" class="btn btn-black"><i class="fa fa-search"></i>조회</button>
            <button type="reset" id="btnReset" class="btn btn-default"><i class="fa fa-undo"></i>초기화</button>
          </div>
        </div>
      </form>


      <div class="content-panel no-padding">
        전체 건수
        <!-- 총: <span th:text="${cnt}" class="boardCnt"></span> 건 -->
        <span class="count">총&nbsp;<strong class="clr-red2"
            th:text="${list.TotalElements}">15</strong>&nbsp;건&nbsp;</span>


        <table class="table List table-bordered table-striped table-hover">
          <th>id</th>
          <th>작성자</th>
          <th>제목</th>
          <th>내용</th>
          <th>답변</th>
          <th>추가질의</th>
          <th>추가답변</th>
          <th>생성일</th>
          <th>상담위원</th>

          <tr th:each="row : ${list}">

            <td th:text="${row.id}"> id</td>
            <td><a th:text="${row.tm_id}" th:href="@{/consult/write(id=${row.id})}">userid</a></td>
            <td th:text="${row.title}">ip</td>
            <td th:text="${row.contents}">c_url</td>
            <td ><span th:if="${row.gu} >= 2">체크</span></td>
            <td ><span th:if="${row.gu} >= 3">체크</span></td>
            <td><span th:if="${row.gu} >= 4">체크</span></td>
            <td th:text="${row.updated_at}">search</td>
            <td th:text="${row.nm}">상담자</td>

          </tr>
        </table>
      </div>

      <div class="Board-pagination">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" th:classappend="${i == list.pageable.pageNumber+1} ? 'disabled'"
              th:href="@{/consult/list(page=${list.pageable.pageNumber -1 }, searchText=${param.searchText})}"
              tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item" th:classappend="${i == list.pageable.pageNumber+1} ? 'disabled'"
            th:each="i : ${#numbers.sequence(startPage, endPage)}"><a class="page-link"
              th:href="@{/consult/list(page=${i-1}, searchText=${param.searchText})}" th:text="${i}">1</a></li>
          <li class="page-item">
            <a class="page-link" th:classappend="${list.totalPages == list.pageable.pageNumber+1} ? 'disabled'"
              th:href="@{/consult/list(page=${list.pageable.pageNumber +1 }, searchText=${param.searchText})}">Next</a>
          </li>
        </ul>
        <div class="Right">
          <a type="button" class="btn btn-success" th:href="@{/consult/write}">쓰기</a>
        </div>
    </section>

  </article>
</body>

</html>
<footer th:replace="fragments/bottom_script :: footer('상담')"> </footer>
