<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(title)">
	<meta charset="utf-8" />
	<title th:text="'텍스넷 CUG -' +  ${title}">택스넷 CUG </title>
	<meta http-equiv="X-UA-Compatible" content="IE=11,IE=Edge" />
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->

	<!-- META, DESCRIPTION, KEYWORDS, AUTHOR, COPYRIGHT -->
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="copyright" content="copyrights (c) by (주)조세통람" />
	<link rel="canonical" href="" />

	<!-- Favicons -->
	<link rel="icon" href="/assets/favicon/favicon.ico" th:href="@{/assets/favicon/favicon.ico}" />
	<link rel="apple-touch-icon" href="/assets/favicon/favicon.png" th:href="@{/assets/favicon/favicon.png}" />
 
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.css"
		th:href="@{/assets/lib/bootstrap/css/bootstrap.css}" />
	<!-- external CSS -->
	<!-- <link rel="stylesheet" href="/assets/lib/font-awesome/css/font-awesome.css" /> -->
	<script src="https://kit.fontawesome.com/5d9646259a.js" crossorigin="anonymous"></script>

	<!-- Font CSS Set -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,500&display=swap" />

	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/assets/css/html5-Reset.css" th:href="@{/assets/css/html5-Reset.css}" />
	<link rel="stylesheet" href="/assets/css.css" th:href="@{/assets/css/CUG.css}" />
	<link rel="stylesheet" href="/assets/css/Board.css" th:href="@{/assets/css/Board.css}" />
	<link rel="stylesheet" th:if="${title} == '로그인'" th:href="@{/assets/css/login.css}">
	<!-- <link rel="stylesheet" href="/assets/css/style.css" /> -->


</head>

<body>


	<header class="header" th:fragment="menu(menu)">
		<div class="sidebar-toggle-box">
			<div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
		</div>
		<nav class="click-active">
			<ul>
				<!-- 메뉴 클릭 후 class="active" 추가 처리 -->
				<!-- <li><a href="###" class="clr-red3">회원 관리</a></li>
				<li><a href="/pages/ContentsMgt/PeriodicPublication/hardTax_List.shtml">콘텐츠 관리</a></li>
				<li><a href="/pages/TaxlawRevision/LegislationNotice/Notifi_List.shtml">개정세법 관리</a></li>
				<li><a href="/pages/FormatMgt/TaxFormat/revision_List.shtml">서식 관리</a></li>
				<li><a href="/pages/CounselMgt/Profile/profile_List.shtml">상담 관리</a></li>
				<li><a href="/pages/BoardMgt/Notice/notice_List.shtml">게시판 관리</a></li> 
				<li><a href="/pages/ErrorMgt/error_List.shtml">오류관리</a></li>-->
				<li><a href="#" th:href="@{/auth/list}" th:classappend="${menu} == '권한' ? 'active' ">header: 권한 관리</a></li>
				<li><a href="#" th:href="@{/board/list}" th:classappend="${menu} == '로그' ? 'active' ">header: 로그 관리</a></li>
				<li><a href="#" th:href="@{/consult/list}" th:classappend="${menu} == '상담' ? 'active' ">header: 상담 관리</a></li>
				<li><a href="#" th:href="@{/newconsult/list}" th:classappend="${menu} == '상담2' ? 'active' ">header: 상담 관리2</a></li>
			</ul>
		</nav>
		<a href="/main.shtml" th:href="@{/}" class="logo">TAXNET&nbsp;<span>CUG</span></a>

		<div class="top-right-Btn">
			<form th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
				<span style="color: white;" sec:authentication="name" >사용자 아이디</span>
				<span style="color: white;" sec:authentication="principal.authorities">사용자 권한</span>
				<input type="submit" class="btn btn-danger" sec:authorize="isAuthenticated()" value="logout" >
				<!-- <a href="/_template/index.html" target="_blank" class="btn btn-warning">T</a> -->
			</form>
		</div>

		<div class="clearfix"></div>
	</header>



	<!-- *******************************************************************************************************************************
* LEFT SIDEBAR MENU
************************************************************************************************************************************ -->
	<aside id="sidebar" class="nav-collapse" th:fragment="sidebar(side)">
		<!-- 로그인 계정별 정보출력 -->
		<div class="login-info">
			<!-- <div class="thumbs">
					<video muted autoplay loop poster="">
						<source src="/CUG/img/Pexels Videos 2439510.mp4" type="video/mp4">
					</video>
				</div> -->
			<img src="/CUG/img/human.png" class="img-circle" width="80" alt="">
			<h5>Administrator</h5>
		</div>
		<!-- sidebar menu start -->
		<ul class="sidebar-menu" id="nav-accordion">
			<li class="first">
				<a href="/pages/BoardMgt/Notice/notice_List.shtml" th:href="@{/board/list}"
					th:classappend="@{side} == '로그' ? 'active' ">
					<i class="fa fa-fw fa-bullhorn"></i>
					<span>leftmenu: 로그</span>
				</a>
			</li>
			<li class="">
				<a href="/pages/BoardMgt/Notice/notice_List.shtml" th:href="@{/auth/list}"
					th:classappend="@{side} == '권한' ? 'active' ">
					<i class="fa fa-fw fa-bullhorn"></i>
					<span>leftmenu: 권한</span>
				</a>
			</li>
			<li class="">
				<a href="/pages/BoardMgt/Notice/notice_List.shtml" th:href="@{/consult/list}"
					th:classappend="@{side} == '상담' ? 'active' ">
					<i class="fa fa-fw fa-bullhorn"></i>
					<span>leftmenu: 상담</span>
				</a>
			</li>
			<li class="">
				<a href="/pages/BoardMgt/Notice/notice_List.shtml" th:href="@{/newconsult/list}"
					th:classappend="@{side} == '상담2' ? 'active' ">
					<i class="fa fa-fw fa-bullhorn"></i>
					<span>leftmenu: 상담2</span>
				</a>
			</li>
		</ul>
		<!--// sidebar menu End -->
		<br /><br />
	</aside>


	<a class="btn btn-secondary my-2 mr-2 my-sm-0" th:href="@{/account/login}"
	sec:authorize="!isAuthenticated()">로그인</a>
<a class="btn btn-secondary my-2 my-sm-0" th:href="@{/account/register}"
	sec:authorize="!isAuthenticated()">회원가입</a>
<form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
	<!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
	<span class="text-white" sec:authentication="name">사용자</span>
	<span class="text-white mx-2" sec:authentication="principal.authorities">권한</span>
	<button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>

</body>

</html>


