<!DOCTYPE html>
<html lang="ko">


<head th:replace="fragments/common_inc_top :: head('로그인')">
</head>


<script>

    // $(document).ready(function () {
    //     $("#adminpw").keyup(function(e){if(e.keyCode == 13)  d(); });
    // });
</script>



<body>

    <div class="login-container">
        <h1 class="logo"><img th:src="@{/img/top_logo(new).png}" width="237" height="42" alt="" /></h1>




        <div class="half">
            <h2>CLOSED USER GROUP Login</h2>


            <form th:action="@{/register}" method="POST" name="frm">

                <div class="content" style="margin-top: 20px;">
                    <div class="signin-cont cont">
                        <input type="text" name="username" id="adminid" required="required" class="form-control inpt"
                        placeholder="아이디" />
                        <label for="id">아이디</label>
                        <input type="password" name="password" id="adminpw" required="required" class="form-control inpt"
                        placeholder="비밀번호" />
                        <label for="password">비밀번호</label>
                        <div class="submit-wrap">
                            <a href="javascript:document.frm.submit();" class="submit" title="회원가입" />회원 가입</a>
                            <!-- <input type="submit" value="Sign in" class="submit" onclick="self.location.href('/CUG/pages/ContentsMgt/PeriodicPublication/hardTax_List.shtml');" title="로그인" /> -->
                            <span class="txt">
                                <u>택스넷의 CUG 관리자에 부여된 <strong>로그인 ID 권한</strong>에 따라 메뉴를 사용할수 있습니다.</u><br />
                                불편하시더라도 필히 메뉴별 이용시 로그인을 하여 주십시요!
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
<footer th:replace="fragments/bottom_script :: footer('로그인')"> </footer>
